@charset "UTF-8"; 

html {
    height: 100%;
}
body {
    min-height: 100% !important;
    height: auto !important;
}

body.smart-style-6 .ribbon-button-alignment {
    display: inline-block;
}

body.smart-style-6 #logo-group>span#logo:before {
    content: 'WNote' !important;
}

::-webkit-input-placeholder {
    color: #c1c1d7 !important;
}

/* error log style */
.error-logo {
    text-align: center;
    font-size: 700%;
    font-weight: bold;
    font-weight: 100;
    color: #333;
    line-height: 1;
    letter-spacing: -.05em;
    background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* api loading style */
#api-loading {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 999999;
}
 
#api-loading .api-loading-message {
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 140px;
    background: url("/img/api-loading.gif") center center no-repeat;
}

/* tree menu additional style */
.scroll-tree {
    height:540px;
    overflow-y: scroll;
}

/* fancytree override style */
ul.fancytree-container {
    background-color: rgba(255,255,255,0.3);
    border : none;
}
span.fancytree-active span.fancytree-title, span.fancytree-selected span.fancytree-title {
    background-color: rgba(0,153,255,0.3);
}

/* select2 override style */
.select2-container .select2-choice, .select2-selection {
    background-color: rgba(255,255,255,0.3);
    color: #000000;
}

.smart-style-5 .select2-container .select2-choice, .smart-style-5 .select2-selection {
    background-color: rgba(255,255,255,0.3);
    color: #ffffff;
}

.select2-container .select2-choice .select2-arrow, .select2-selection__arrow {
    color: #000000;
}
.smart-style-5 .select2-search input {
    background-color: rgba(32,32,32,0.3);
}
.select2-search-choice-close, .select2-selection__clear {
    display: inline-block;
    margin: 0 12px 0 6px;
}

.select2-selection {
    padding-left: 4px !important;
}

/* smart admin override style */
.smart-style-5 .table-hover>tbody>tr:hover, .smart-style-5 .table-striped>tbody>tr.selected:nth-child(odd) {
    background-color: rgba(0,102,255,0.6) !important;
}

/* smart admin additional style */
div.widget-actions {
    padding: 0px 8px;
    margin-top    : 10px;
    margin-bottom : 10px;
}

div.widget-actions .widget-action {
    display: inline-block;
    float: right;
    width: auto;
    height: 32px;
    line-height: 32px;
    position: relative;
    border-left: 1px solid rgba(0,0,0,.09);
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
}

div.widget-actions .widget-action > .btn {
    font-size: 12px !important;
    padding: 1px 8px !important;
}

.widget-body fieldset .dataTables_wrapper > .row {
    display: table-row-group !important;
}

.smart-form .state-error .select2 {
    background: #fff0f0;
    border-color: #A90329;
}
.smart-style-5 .smart-form .state-error .select2 {
    background: rgba(255, 8, 8, 0.2) !important;
    border-color: rgb(169, 3, 41) !important;
}

/* datatable additional style */
table.dataTable tr.selected {
    background-color: rgba(0,102,255,0.6) !important;
}


